* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// responsive

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$mxl: 1800px;

// fonts
$mont: "Montserrat", sans-serif;
$ubuntu: "Ubuntu", sans-serif;

// colors
$white: #fff;
$black: #000000;
$blue-white: #05263e;
$yellow: #ffd600;
$red: #a41115;
$yellow-light: #fff279;

// mixing
@mixin resp($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}

// width and height
@mixin wh($w) {
    width: $w;
    height: $w;
}
// font function
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc(
                    #{$min-font-size} + #{strip-unit(
                            $max-font-size - $min-font-size
                        )} *
                        (
                            (100vw - #{$min-vw}) / #{strip-unit(
                                    $max-vw - $min-vw
                                )}
                        )
                );
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

@mixin tra {
    transform: all 0.5s;
}
// module
%heading-1 {
    font-family: $mont;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    color: white;
    // font-size: 60px;
    @include fluid-type(320px, $xl, 32px, 60px);
}

%subtitle {
    font-family: $ubuntu;
    font-style: normal;
    font-weight: 400;
    @include fluid-type(320px, $xl, 17px, 24px);
    // font-size: 18px;
    // font-size: 24px;
    line-height: 140%;
    color: #ffffff;
}

%navigation {
    font-family: $ubuntu;
    font-style: normal;
    font-weight: 400;
    @include fluid-type(320px, $xl, 14px, 16px);
    // font-size: 14px;
    // font-size: 16px;
    line-height: 18px;
    text-transform: capitalize;
    color: white;
}

%heading-2 {
    font-family: $mont;
    font-style: normal;
    font-weight: 700;
    @include fluid-type(320px, $xl, 25px, 48px);
    // font-size: 25px;
    // font-size: 48px;
    line-height: 110%;
    /* identical to box height, or 53px */
    text-transform: uppercase;
    color: white;
}

%para {
    font-family: $ubuntu;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: white;
    @include resp($sm) {
        font-size: 18px;
    }
    @include resp($md) {
        font-size: 20px;
    }
}
// generate container
$width-lists: (
    $sm: 540px,
    $md: 720px,
    $lg: 960px,
    $xl: 1140px,
    $xxl: 1320px,
    // $mxl: 1680px,
);

@each $screen, $width in $width-lists {
    .container {
        @include resp($screen) {
            max-width: $width;
        }
    }
}

// common style
.container {
    padding-left: 15px;
    padding-right: 15px;
    @include resp($sm) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}

img {
    width: 100%;
}

body {
    background-color: $red;
}

$btn-radius: 15px;

%btn {
    font-family: $ubuntu;
    min-width: 151px;
    padding: 11px 41px;
    border-radius: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* black */
    color: #000000;
    svg {
        margin-right: 5px;
        width: 22px;
    }
}

.btn-fill {
    position: relative;
    z-index: 430;
    overflow: hidden;
    height: 44px;
    @extend %btn;
    &:focus {
        &:after {
            background-color: #f1e263;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: $btn-radius;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #e8c406;
        transition: all 0.3s;
        border-radius: $btn-radius;
        z-index: -1;
    }
    &:hover {
        color: black;
        &:before {
            width: 100%;
        }
    }
}

.btn-outline {
    @extend %btn;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-style: normal;
    border: 2px solid white;
    text-transform: none;
    transition: all 0.3s;
    &:hover {
        border-color: $yellow;
        color: $yellow;
    }
    &:focus {
        &:after {
            background-color: transparent;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;

        border-radius: $btn-radius;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;

        transition: all 0.3s;
        border-radius: $btn-radius;
        z-index: -1;
    }
}

#main img {
    width: initial;
}

h2.section-title {
    @extend %heading-2;
}

.btn-wrap {
    text-align: center;
}

.container {
}

// all content wrapper
.full-container {
    position: relative;

    // spark animation
    #spark-animation {
        // display: none;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 80%;
        @include resp($xl) {
            height: 85%;
        }
        svg {
            display: block;
            padding-top: 20px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            @include resp($sm) {
                width: 90%;
            }
            @include resp($xl) {
                height: 100%;
            }
        }
    }
}

// heading style --------------------------------
#main {
    background: transparent url("../img/main-section/main-sec-bg.jpg") no-repeat
        center center;
    background-size: 100% 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;

    //---------------------- header section  -----------------
    header {
        padding-top: 15px;
        @include resp($lg) {
            padding-top: 30px;
        }
        .container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            @include resp($xl) {
                // display: grid;
                // grid-template-columns: 1fr 2fr;
            }
            @include resp($xxl) {
                // display: grid;
                // grid-template-columns: 1fr 2.3fr;
            }
        }
        // logo
        .logo {
            text-align: left;
            width: 80%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            @include resp ($xl) {
                width: 255px;
            }
            img {
                max-width: 225px;
                @include resp($xl) {
                    max-width: 256px;
                    transform: translateX(-5px);
                }
                @include resp ($xxl) {
                    margin-top: 10px;
                }
            }
        }
        // navbar button
        #resp-nav-btn {
            width: 35px;
            height: 25px;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-between;
            cursor: pointer;
            transition: all 0.5s;
            @include resp($xl) {
                display: none;
            }
            .bar {
                width: 100%;
                height: 3px;
                border-radius: 12px;
                background-color: $white;
            }
            &:hover {
                .bar {
                    background-color: $yellow;
                }
            }
        }
        // navbar
        .nav-wrap {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: flex-end;
            height: 0px;
            overflow: hidden;
            @include resp($xl) {
                flex-flow: row wrap;
                justify-content: space-between;
                height: initial;
                width: 72%;
                height: 70px;
                transform: translateX(30px);
            }
            @include resp ($xxl) {
                width: initial;
            }
            .nav,
            .social-bar {
                ul {
                    display: flex;
                    list-style: none;
                }
            }
            // nav
            .nav {
                order: 2;
                background-color: $red;
                border-radius: 25px;
                padding: 25px 35px;
                display: flex;
                flex-flow: column wrap;
                width: 100%;
                max-width: 400px;
                height: 290px;
                @include resp($xl) {
                    height: initial;
                    width: 100%;
                    max-width: initial;
                    position: initial;
                    background-color: transparent;
                    padding: 0;
                    flex-flow: row wrap;
                    margin-top: 0px;
                    justify-content: space-between;
                    align-items: center;
                }
                ul {
                    display: flex;
                    flex-flow: column wrap;
                    // column-gap: 30px;
                    order: 2;
                    @include resp($xl) {
                        flex-flow: row wrap;
                        column-gap: 30px;
                    }
                    @include resp($xxl) {
                        column-gap: 40px;
                        margin-right: 50px;
                    }
                }

                .nav-item {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.532);
                    &:last-child {
                        border-bottom: 0px solid white;
                    }
                    @include resp($xl) {
                        border: none;
                        padding-bottom: 0px;
                        padding-top: 0px;
                    }
                    a {
                        display: flex;
                        text-decoration: none;
                        align-items: center;
                        svg {
                            @include wh(20px);
                            margin-right: 15px;
                            @include resp($xl) {
                                @include wh(14px);
                                margin-right: 5px;
                            }
                        }
                        p {
                            @extend %navigation;
                        }
                        &:hover {
                            p {
                                color: $yellow;
                            }
                            svg path {
                                fill: $yellow;
                            }
                        }
                    }
                }
                .nav-item.active {
                    p {
                        color: $yellow;
                    }
                    svg path {
                        fill: $yellow;
                    }
                }
            }

            // social bar
            .social-bar {
                order: 1;
                width: 100%;
                max-width: 350px;
                margin-left: auto;
                margin-right: auto;
                @include resp($xl) {
                    width: initial;
                    max-width: initial;
                    order: 3;
                    margin-left: initial;
                    margin-right: initial;
                }
                ul {
                    column-gap: 10px;
                    justify-content: space-between;
                    flex-flow: row wrap;
                    order: 1;
                    @include resp($xl) {
                        width: 100%;
                        padding-left: 30px;
                        padding-right: 30px;
                        height: 50px;
                        align-items: center;
                    }
                    @include resp($xxl) {
                        column-gap: 20px;
                    }

                    li {
                        flex: 1;
                        a {
                            display: block;
                            text-decoration: none;
                            display: flex;
                            flex-flow: column wrap;
                            justify-content: center;
                            align-items: center;
                            @include resp ($xl) {
                                position: relative;
                            }
                            svg {
                                @include wh(24px);
                                // margin-bottom: 10px;
                                path {
                                    transition: all 0.5s;
                                }
                            }
                            span {
                                font-family: $ubuntu;
                                font-style: normal;
                                font-weight: 400;
                                font-size: 0px;
                                text-align: center;
                                text-transform: capitalize;
                                color: #ffd600;
                                @include resp ($xl) {
                                    font-size: 16px;
                                    position: absolute;
                                    bottom: -20px;
                                    opacity: 0;
                                }
                            }
                            &:hover {
                                svg {
                                    transform: scale(1.2);
                                    path {
                                        fill: $yellow;
                                    }
                                }
                                span {
                                    display: block;
                                    @include resp ($xl) {
                                        opacity: 1;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
    //--------------------- main section  -------------------
    main {
        .container {
            padding-top: 50px;
            padding-bottom: 50px;
            @include resp($xl) {
                // padding-top: 125px;
                padding-top: 100px;
            }
            @include resp($xxl) {
                // padding-top: 150px;
            }
            @include resp($mxl) {
                padding-top: 150px;
            }
            .section-wrap {
                display: flex;
                flex-flow: column wrap;
                @include resp($xl) {
                    flex-flow: row wrap;
                }

                .main-all-content {
                    grid-area: content;
                    order: 2;
                    @include resp($xl) {
                        width: 65%;
                        order: 1;
                    }
                    .main-section-header {
                        padding-top: 25px;
                        @include resp($xl) {
                            padding-top: 0px;
                        }
                        h1 {
                            @extend %heading-1;
                        }
                    }
                    .para {
                        @extend %subtitle;
                        padding-top: 20px;
                        padding-bottom: 40px;
                        @include resp($sm) {
                            display: flex;
                            flex-flow: column wrap;
                        }
                    }
                }
                // main section logo
                .main-highlight-img {
                    order: 1;
                    text-align: center;
                    width: 100%;

                    @include resp($xl) {
                        width: 35%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }
                    img {
                        width: 70%;
                        max-width: 325px;
                        @include resp($xl) {
                            width: 110%;
                            max-width: 503px;
                        }
                    }
                }
            }
            // buttons
            .btn-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 20px;
                @include resp($mxl) {
                    padding-top: 30px;
                }
            }
        }
    }
}

// about section ------------------------------
#about-cerberus {
    margin-top: -1.5px;
    // height: 100vh;
    background: transparent url("../img/about-cerberus/section-bg.png")
        no-repeat center center;
    background-size: 100% 100%;
    @include resp($md) {
        position: relative;
    }
    // left side animation
    #about-cerberus-animation {
        display: none;
        @include resp($md) {
            display: block;
            position: absolute;
            left: -50px;
            top: 0px;
            width: 650px;
        }
        @include resp($lg) {
            width: 630px;
        }
        @include resp($xl) {
            left: 0px;
            width: 735px;
        }
        @include resp($xxl) {
            width: 780px;
        }
        img {
            position: absolute;
        }
        .about-img {
            left: 0px;
            top: 0px;
        }
        .cerberus {
            left: 190px;
            width: 30%;
            top: 215px;

            @include resp($lg) {
                left: 180px;
                width: 35%;
                top: 180px;
            }
            @include resp($xl) {
                left: 210px;
                width: 270px;
                top: 195px;
            }
            @include resp($xxl) {
                width: 292px;
                left: 225px;
                top: 205px;
            }
        }
    }
    // container
    .container {
        padding-top: 80px;
        padding-bottom: 100px;
        @include resp($lg) {
            padding-bottom: 130px;
        }
        @include resp($xl) {
            padding-top: 100px;
            padding-bottom: 160px;
        }
        @include resp($xxl) {
            padding-top: 120px;
            padding-bottom: 190px;
        }
        .section-title {
            text-align: center;
        }

        .content-wrap {
            display: flex;
            flex-flow: column wrap;
            padding-top: 30px;
            padding-bottom: 30px;
            @include resp($md) {
                width: 55%;
                margin-left: auto;
            }
            @include resp($lg) {
                padding-top: 0px;
                padding-bottom: 0px;
            }

            .contents {
                @include resp($lg) {
                    margin-top: 60px;
                }
                .para {
                    @extend %para;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                    @include resp($md) {
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    @include resp($xl) {
                        font-size: 20px;
                        margin-bottom: 20px;
                        max-width: 625px;
                    }
                    span {
                        color: $yellow;
                        font-weight: 700;
                    }
                }
            }
            // btn
            .btn-wrap {
                margin-top: 30px;
                @include resp($md) {
                    text-align: left;
                }
                @include resp($lg) {
                    margin-top: 68px;
                }
            }
        }
    }
}

// ------------ crbrus benefits  ------------
#crbrus-benefits {
    position: relative;
    .container {
        padding-top: 63px;
        padding-bottom: 77px;
        position: relative;
        z-index: 300;
        .section-title {
            text-align: center;
        }
        // card wrap
        .card-wrap {
            display: grid;
            grid-template-columns: 1fr;
            max-width: 1040px;
            margin-top: 50px;
            margin-left: auto;
            margin-right: auto;
            row-gap: 40px;
            @include resp($md) {
                grid-template-columns: repeat(3, 1fr);
                row-gap: 0px;
            }
            & > div {
                display: flex;
                flex-flow: column wrap;
                align-items: center;

                img {
                    width: 200px;
                }
                h4 {
                    font-family: "Montserrat";
                    font-style: normal;
                    font-weight: 700;
                    @include fluid-type(320px, $lg, 20px, 26px);
                    line-height: 110%;
                    text-align: center;
                    text-transform: uppercase;
                    color: #ffffff;
                    max-width: 324px;
                }
            }
        }
    } // background shadow
    .bg-shadow {
        display: none;
        width: 100%;
        @include resp($sm) {
            display: block;
            width: 100%;
            position: absolute;
            right: 0px;
            top: 50%;
        }
        @include resp($md) {
            top: 0px;
            width: 60%;
        }
        @include resp($xl) {
            width: 70%;
            top: -170px;
            height: 634px;
        }
        @include resp($xxl) {
            top: -310px;
            // background-color: green;
        }
        img {
            @include resp($xl) {
                width: 100%;
            }
        }
    }
}

// project roadmap --------------------
#project-roadmap {
    background: transparent url("../img/project-roadmap/project-roadmap.png")
        no-repeat center center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;
    // position: relative;
    // z-index: 100;

    @include resp($lg) {
        padding-top: 122px;
        padding-bottom: 130px;
    }
    @include resp($sm) {
        background-size: 135%;
        padding-top: 90px;
        padding-bottom: 105px;
    }
    @include resp($md) {
        background-size: 120%;
        padding-top: 105px;
        padding-bottom: 115px;
    }
    @include resp($lg) {
        background-size: 110%;
    }
    @include resp($xl) {
        background-size: 100% 100%;
        padding-top: 122px;
        padding-bottom: 135px;
    }
    .container {
        position: relative;
        z-index: 300;
        .section-title {
            text-align: center;
        }
        // roadmap section
        .roadmap {
            list-style: none;
            padding-top: 50px;
            @include resp($sm) {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
            @include resp($md) {
                padding-top: 65px;
            }
            @include resp($lg) {
                padding-top: 80px;
            }
            li {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                margin-bottom: 60px;
                &:last-child {
                    margin-bottom: 0px;
                }
                @include resp($sm) {
                    flex-flow: row wrap;
                    column-gap: 30px;
                }
                .img {
                    width: 125px;
                    @include resp($sm) {
                        // width: 250px;
                    }
                    @include resp($sm) {
                        width: 143px;
                        position: relative;
                    }
                    img {
                        width: 100%;
                        @include resp($sm) {
                            position: relative;
                            z-index: 100;
                        }
                    }
                    .line {
                        display: none;
                        @include resp($sm) {
                            display: block;
                            width: 4px;
                            position: absolute;
                            left: 50%;
                            bottom: -70px;
                            z-index: 90;
                        }
                    }
                }
                div {
                    h4 {
                        font-family: $ubuntu;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 140%;
                        color: #ffffff;
                    }
                    h6 {
                        font-family: $ubuntu;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 140%;
                        text-transform: uppercase;
                        color: #fff279;
                    }
                    .estimate {
                        font-family: $ubuntu;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        text-transform: capitalize;
                        color: white;
                        span {
                            color: #fff279;
                        }
                    }
                }
            }
        }
    }
}

// join cerberus ---------------------------
#join-cerberus {
    padding-top: 40px;
    padding-bottom: 40px;
    @include resp($md) {
        padding-top: 60px;
    }
    .container {
        position: relative;
        // content
        .content {
            position: relative;
            z-index: 300;
        }
        .section-title {
            text-align: center;
            background: linear-gradient(180deg, #80ff00 0%, #fef38c 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        .para {
            @extend %subtitle;
            max-width: 640px;

            // max-width: 770px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 20px;

            @include resp($lg) {
                padding-bottom: 60px;
                max-width: 740px;
            }
        }

        .btn-wrap {
            .btn-fill {
                &:before {
                    background-color: $white;
                }
                &:after {
                    background-color: #ffc800;
                }
            }
        }
    }
    // bg center shadow
    .bg-shadow {
        position: absolute;
        left: 0%;
        top: 40px;
        width: 100%;
        @include resp($sm) {
            top: -40px;
        }
        @include resp($md) {
            top: -140px;
        }
        @include resp($xl) {
            top: -45px;
            width: 50%;
            left: 25%;
        }
        img {
            width: 100%;
        }
    }
}

// footer section -------------------
footer {
    padding-bottom: 25px;
    background: $red url("../img/footer/footer-bg.png") no-repeat center bottom;
    background-size: cover;
    padding-top: 100px;
    @include resp($md) {
        background-size: 120% 100%;
        padding-top: 125px;
    }
    @include resp($lg) {
        padding-bottom: 31px;
        background-size: 110% 100%;
        padding-top: 140px;
    }
    @include resp($xl) {
        background-size: 105% 100%;
        padding-top: 150px;
    }
    @include resp($xxl) {
        background-size: 100% 100%;
        padding-top: 170px;
    }
    .container {
        .footer-wrap {
            .footer-top {
                display: flex;
                align-items: center;
                justify-content: center;
                row-gap: 25px;
                flex-flow: column wrap;
                @include resp(450px) {
                    flex-flow: row wrap;
                    justify-content: space-between;
                }
                @include resp($md) {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                }
                @include resp($xl) {
                    grid-template-columns: 1fr 1.75fr;
                }
                @include resp($xxl) {
                    grid-template-columns: 1.2fr 2fr;
                }
                img {
                    width: 80px;
                    @include resp($sm) {
                        width: 115px;
                    }
                    @include resp($md) {
                        width: 140px;
                    }
                    @include resp($lg) {
                        width: 165px;
                    }
                }
                .icons {
                    list-style: none;
                    display: flex;
                    flex-flow: row wrap;
                    column-gap: 20px;
                    @include resp($lg) {
                        column-gap: 50px;
                    }
                    // @include resp ($xl) {
                    //     column-gap: 80px;
                    // }
                    a {
                        display: inline-block;
                        text-decoration: none;
                        img {
                            width: 45px;
                            transition: transform 0.3s;
                            @include resp($sm) {
                                width: 55px;
                            }
                            @include resp($md) {
                                width: 70px;
                            }
                            &:hover {
                                transform: scale(1.08);
                            }
                        }
                    }
                    li {
                        &:last-child {
                            img {
                                width: 48px;
                                @include resp($sm) {
                                    width: 60px;
                                }
                                @include resp($md) {
                                    width: 81px;
                                }
                            }
                        }
                    }
                }
            }
        }
        p.para {
            text-align: center;
            font-family: $ubuntu;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            color: #ffffff;
            margin-top: 10px;
        }
    }
}

@import "spark";
